.avatar {
  object-fit: cover;
  box-sizing: initial;
  width: 3rem;
  height: 3rem;
   border-radius: 8px;
 }

.avatarWithBorder {
  object-fit: cover;
  box-sizing: initial;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  border: 2px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}